@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
    --background-color: #fefefe;
    --text-color: #3f3f3f;
}

.dark-mode {
    --background-color: #1e1e1e;
    --text-color: #fefefe;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}